<div>
  <h1>MiarmaApp</h1>
  <h2>Panel de administración</h2>
</div>
<div>
  <mat-form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <mat-form-field appearance="fill">
      <label for="email">Email: </label>
      <input matInput id="email" type="text" required formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label for="password">Contraseña: </label>
      <input
        matInput
        id="password"
        type="password"
        formControlName="password"
      />
    </mat-form-field>
    <button mat-raised-button type="submit" (click)="doLogin()">Entrar</button>
  </mat-form>
</div>
